// app global css in Sass form
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap')
@property --rotate
  syntax: "<angle>"
  initial-value: 132deg
  inherits: false
:root
  color-scheme: light dark
html, body
  height: 100%
  margin: 0
  padding: 0
  overflow: hidden
  font-family: 'poppins', -apple-system, 'Roboto', sans-serif
  font-size: 16px
  color: grey

body.body--light

  --border-number-color: #22c1c3
  --secondary: #fdbb2d
  --border-selected-number-color: #F92C85
  --font-selected-number-color: #22c1c3
  --font-header-color: #F92C85
  background: rgb(34,193,195)
  background: linear-gradient(0deg, var(--border-number-color) 0%, var(--secondary) 100%)

body.body--dark
  --border-number-color: #222222
  --border-selected-number-color: #22222253
  --font-selected-number-color: #222222
  --font-header-color: #222222
  background-color: #adbfc8
  background: linear-gradient(144deg, rgba(173,191,200,1) 73%, rgba(173,191,200,0.7441570378151261) 100%)

.q-layout
  display: grid

.page
  display: grid
  grid-template-columns: 1fr 1fr
  grid-template-rows: 20vh auto 60px
  grid-template-areas: 'header header' 'left right' 'footer footer'


header
  display: grid
  justify-content: center
  align-items: center
  grid-area: header
  grid-template-columns: 20vw 60vw 20vw
  .logo
    height: 90%
    margin: 0 2.5%
    background-repeat: no-repeat
    background-size: contain
  .runicalle
    background-image: url('/images/runicalle.svg')
    background-position-x: right

  .parcudup
    background-image: url('/images/squash.svg')
    background-position-x: left

  .typeOfGame
    font-size: 10vmin
    font-weight: 900
    color: var(--font-header-color)
    background: radial-gradient(circle,var(--font-selected-number-color), var(--font-header-color), var(--secondary))
    background-clip: text
    color: transparent
    animation: bgEffect 10s linear infinite
    background-size: 200% 200%
    text-transform: uppercase
    text-align: center
    overflow: hidden
    cursor: pointer
    @keyframes bgEffect
      0%
        background-position: 0% 0%
      50%
        background-position: 100% 100%
      100%
        background-position: 0% 0%
footer
  display: flex
  justify-content: center
  align-items: center
  grid-area: footer

.selectedNumberContainer
  grid-area: left
  justify-content: center
  align-items: center
  display: flex
  @keyframes spin
    0%
      --rotate: 0deg
    100%
      --rotate: 360deg
  .selectedNumber
    display: flex
    border-radius: 2vmin
    // border: 4px solid var(--border-selected-number-color)
    // border-image: linear-gradient(45deg, var(--border-selected-number-color), var(--font-selected-number-color)) 1
    font-size: 35vmin
    font-weight: 900
    text-align: center
    color: var(--font-selected-number-color)
    background-color: white
    justify-content: center
    align-items: center
    width: 95%
    height: 95%
    position: relative

  .selectedNumber::before
    content: ""
    width: 102%
    height: 102%
    border-radius: 2.1vmin
    background-image: linear-gradient( var(--rotate), var(--font-selected-number-color) 0%, var(--font-header-color), var(--secondary) 100% )
    position: absolute
    z-index: -1
    top: -1%
    left: -1%
    animation: spin 10s linear infinite

  .selectedNumber::after
    position: absolute
    content: ""
    top: 0
    left: 0
    right: 0
    z-index: -1
    height: 100%
    width: 100%
    margin: 0 auto
    transform: scale(0.9)
    background-image: linear-gradient( var(--rotate), #5ddcff, #3c67e3 43%, #4e00c2)
    opacity: 1
    transition: opacity .5s
    animation: spin 5s linear infinite


.boardNumbers
  display: grid
  // grid-template-columns: auto auto auto auto auto auto auto auto auto
  grid-template-columns: repeat(10, 1fr)
  grid-template-rows:  repeat(9, 1fr)
  grid-gap: 0.5rem
  justify-items: stretch
  align-items: stretch
  align-content: stretch
  justify-content: stretch
  grid-area: right
  margin:2%
  .numbers
    border: 1px solid var(--border-selected-number-color)
    border-radius: 1.5vmin
    display: flex
    justify-content: center
    align-items: center
    font-size: 3.5vmin
    height: auto
    width: auto
    color: black
  .selectedNumbers
    background-color: white !important
    font-weight: 700
    color: var(--border-number-color)
  .theNumber
    animation: blink 1s 2 alternate
    @keyframes blink
      0%
        opacity: 1
      50%
        opacity: 0
      100%
        opacity: 1
